body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f3e5ab;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #8b4513;
    padding: 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #f3e5ab;
  }
/* Estilo geral */
main {
    padding: 40px;
    font-family: 'Georgia', serif;
    background-color: #ffffff;
}

/* Seção principal */
#personagens {
    text-align: center;
    margin-bottom: 25px;
}

/* Container dos cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilo dos cards */
.card {
    width: 500px;
    background-color: #f3e5ab;
    border-radius: 10px;
    border: 2px solid #8b4513;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
}

/* Imagem do card */
.imagem-card img {
    width: 150px;
    border-radius: 8px;
}

/* Ajuste da disposição */
.imagem-card {
    flex: 1;
    text-align: center;
}

.info {
    flex: 2;
    text-align: left;
    padding-left: 20px;
}

/* Títulos */
.info h3 {
    font-size: 22px;
    color: #8b4513;
    margin-bottom: 10px;
}

/* Texto */
.info p {
    font-size: 16px;
    line-height: 1.6;
}


.rodape {
    background-color: #8b4513;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 50px;
}

.conteudo-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.rodape p{
    font-size: 18px;
}
